body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(251, 241, 171);
    background: radial-gradient(circle, rgba(251, 241, 171,1) 0%, rgb(208, 165, 129)100%);
    background-attachment: fixed;
}
#heding
{ 
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin:auto;
    width:15%;
    padding-top:1vh;
    margin-bottom: calc(10px + 2.2vh);
    margin-top: 3vh;
    border-bottom: 3px dotted black;
    border-radius: 10px 10px 25px 25px;
    min-width:230px;
    transition: all 0.2s ease-in-out;
}
a
{
    text-decoration: none;
    color:black;
}
#heding:hover
{
    cursor:pointer;
    transform: scale(1.01);
}
#hed
{
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#name
{
    font-size: 15px;
    color:rgb(72, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
#nawigacja
{
    margin:auto;
    width:60%;
    min-width: 400px;
    background-color: white;
    margin-bottom: 4vh;
    border-radius: 10px;
}
#nawigacja ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
#nawigacja ul>li
{
    padding: 8px 1vw;
    min-width: 16%;
    margin: 0 1.5vw;
    transition: all 0.2s ease-in-out;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#nawigacja ul>li:hover
{
    background-color: rgb(237, 237, 237);
    cursor:pointer;
    transform: scale(1.05);
}
#main
{
    padding:50px;
    min-height:60vh;
    margin:auto;
    width:60%;
    min-width: 400px;
    border-radius: 15px;
    background-color: #eeeeee8e;
    margin-bottom: 5vh;
}
#wyroznione
{
    margin:auto;
    width:fit-content;
    font-size: 32px;
    height:8vh;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px rgb(81, 81, 81) dotted;
    margin-bottom: 3vh;
}
#wyroznione:hover
{
    transform: scale(1.03);
}
#tekst
{
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.gal
{
    margin-top: 2%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
.window
{
    overflow-x: hidden;
    border-radius: 0.5vw;
}
.image
{
    width: 29.3vw;
    position: relative;
    left: 44vw;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.image > img
{
    aspect-ratio: 4 / 3;
    height: 22vw;
    object-fit: cover;
}

.buttonLeft input[type="image"]
{
    left: -2vw;
}
.buttonRight input[type="image"]
{
    left: 2vw;
}
.gal input[type="image"]
{
    z-index: 200;
    position:relative;
    height:100px;
    width: auto;
    transition: all 0.3s ease-in-out;
}
.gal input[type="image"]:hover
{
    transform: scale(1.1);
}
.anotherDiv
{
    transition: all 0.3s ease-in-out;
}
.anotherDiv:hover
{
    transform: scale(1.03);
}