body body /* Tutaj jest syf totalny i trzeba naprawic dziedziczenie oraz klasy i id w html.*/
{
    background-color: #171512;
    font-family: monospace;
    color: #EDDEBB;
    margin: 0;
}
.top
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F09D3D;
    height: fit-content;
}
.buttons
{
    width: 100%;
    margin: 0.4% 1%;
}
.top input[type=submit]
{
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.logo
{
    background-color: #171512;
}
form
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo input[type=submit]
{
    width: 100%;
    border: none;
    background-color: #171512;
    font-family: monospace;
    color: #EDDEBB;
    transition: all 0.2s ease-in-out;
}
.logo input[type=submit]:hover
{
    transform:scale(0.98);
    color: #f8d164;
    cursor: pointer;
}
.top input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.imydz
{
    margin: 4%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.imydz img
{
    margin-left:auto;
    margin-right:auto;
    border-radius: 100px;
}
.taskbar
{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 6px dashed white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.task
{
    background-color: #F09D3D;
    padding: 2% 5%;
    width: 70%;
    border-radius: 50px;
    color: black;
    transition: all 0.3s ease-in-out;
}
.done
{
    width: 20%;
    margin-left:40px;
}
.done input[type=submit]
{
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    font-size: 1.6vw;
    width: 100%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.done input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.doneoff
{
    width: 20%;
    margin-left:40px;
}
.doneoff input[type=submit]
{
    font-family: monospace;
    background-color: #BD7B2F;
    border: none;
    font-size: 1.6vw;
    width: 100%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.bar1
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.statbar
{
    background-color: #70593E;
    border-radius: 20px;
    overflow: hidden;
}
.progres
{
    height: 100%;
    background-color: #F09D3D;
    vertical-align: middle;
}
.buttonOn input[type=submit]
{
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.buttonOn input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.buttonOff input[type=submit]
{
    font-family: monospace;
    background-color: #BD7B2F;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.dodaj input[type=submit]
{
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    font-size: 1.6vw;
    width: 70%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.dodaj input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.dodaj
{
    margin: 30px;
}
.formularz input
{
    width: 200px;
    margin-left: auto;
    margin-right: 0;

}
.formularz
{
    display:flex;
    width: 100%;
    text-align: left;
    justify-content:stretch;
    margin: 20px 0;
}
.formularz select
{
    width: 208px;
    margin-left: auto;
    margin-right: 0;
}
.formularz p
{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 40px;
}
.calosc input[type=submit]
{
    margin-top: 30px;
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    width: 70%;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}
.calosc input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.historia
{   
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    background-color: #3D3022;
    border-radius: 30px;
    text-align: center;
}
.log1
{
    display: flex;
    justify-content:center;
    align-items:center;
}
.log
{
    display: flex;
    justify-content:center;
    align-items:center;

}
ul
{
    border-radius: 15px;
    background-color: #70593E;
    padding:1vw;
    width: 89%;
    list-style-type: none;
    display: flex;
    justify-content:center;
    align-items:center;

}
ul > li
{
    width: 18%;
    padding:0 1vw;
    border-left: 3px dashed white;
}
ul>li:last-child
{
    border-right: 3px dashed white;
}
.harmonogram
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:#3D3022;
    padding: 40px;
    border-radius: 50px 100px;
    width: 90%;
}
.table-naglowek
{
    background-color:#70593E;
    display:flex;
    align-items: left;
    justify-content: left;
    border-radius: 30px 30px 30px 0;
}
.naglowek-cell
{
    text-align: center;
    min-width: 3.5vw;
}
.naglowek-cell-last
{
    min-width: 3.5vw;
    text-align: center;
    border-radius: 0 30px 30px 0; 
}
.table-cell
{
    background-color: #975a60;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin: 0.5vw;
}
.table-cellOn
{
    margin:0.5vw;
    background-color: #5d975a;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1100px)
{
    .top input[type=submit]
    {
        font-size: 3.4vw;
        border-radius: 30px;
        padding: 30px 2%;
    }
    .logo input[type=submit]
    {
        font-size: 8.5vw;
        margin: 2% 0;
    }
    .container
    {
        margin-top: 8%;
        margin-bottom: 8%;
        width: 90%;
        font-size: 36px;
    }
    .imydz
    {
        margin: 6%;
    }
    .imydz img
    {
        width: 60%;
    }
    .funkcja
    {
        margin: 7% 0;
    }
    .taskbar
    {
        padding: 20px;
        width:90%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .task
    {
        font-size: 3.2vw;
        height: 7.7vw;
    }
    .done input[type=submit]
    {
        font-size: 2.6vw;
        padding: 15px 5%;
    }
    .statbar
    {

        width: 90%;
        height: 70px;
        margin: 10px 30px;
    }
    .buttonOn input[type=submit]
    {
        font-size: 3.6vw;
        width: 70px;
        height: 70px;
    }
    .buttonOff input[type=submit]
    {
        font-size: 3.6vw;
        width: 70px;
        height: 70px;
    }
    .dodaj input[type=submit]
    {
        font-size: 3.2vw;
        width: 90%;
        padding: 15px 5%;
    }
    .calosc input[type=submit]
    {
        font-size: 3.2vw;
        padding: 15px 5%;
    }
    .historia
    {   
        width:100%;
        font-size: 2vw;
    }
    .harmonogram
    {
        margin-top: 30px;
        font-size: 0.8vw;
    }
    .naglowek-cell
    {
        padding:0.8vw;
    }
    .naglowek-cell-last
    {
        padding:0.8vw;
    }
    .table-cell
    {
        min-width: 4.1vw;
    }
    .table-cellOn
    {
        min-width: 4.1vw;
    }
}

@media screen and (min-width: 1700px)
{
    .top input[type=submit]
    {
        font-size: 1.6vw;
        border-radius: 30px;
        padding: 10px 1%;
    }
    .logo input[type=submit]
    {
        font-size: 3.5vw;
        margin: 1% 0;
    }
    .container
    {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 80%;
        font-size: 24px;
    }
    .imydz
    {
        margin: 4%;
    }
    .imydz img
    {
        width: 40%;
    }
    .funkcja
    {
        margin: 4% 0;
    }
    .taskbar
    {
        padding: 20px;
        width:70%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .task
    {
        font-size: 1.6vw;
        height: 4.7vw;
    }
    .done input[type=submit]
    {
        font-size: 1.6vw;
        padding: 10px 5%;
    }
    .statbar
    {
        width: 50%;
        height: 50px;
        margin: 0 30px;
    }
    .buttonOn input[type=submit]
    {
        font-size: 1.6vw;
        width: 50px;
        height: 50px;
    }
    .buttonOff input[type=submit]
    {
        font-size: 1.6vw;
        width: 50px;
        height: 50px;
    }
    .dodaj input[type=submit]
    {
        font-size: 3.2vw;
        width: 90%;
        padding: 25px 5%;
    }
    .dodaj input[type=submit]
    {
        font-size: 1.6vw;
        width: 70%;
        padding: 10px 5%;
    }
    .calosc input[type=submit]
    {
        font-size: 1.6vw;
        padding: 10px 5%;
    }
    .historia
    {   
        width:80%;
        font-size: 1.2vw;
    }
    .harmonogram
    {
        margin-top: 60px;
        font-size: 1.2vw;
    }
    .naglowek-cell
    {
        padding:0.5vw;
        min-width: 3.5vw;
    }
    .naglowek-cell-last
    {
        padding:0.5vw;
    }
    .table-cell
    {
        min-width: 3.5vw;
    }
    .table-cellOn
    {
        min-width: 3.5vw;
    }
}


.table-cell:hover
{
    transform: scale(0.95);
    background-color: #d08990;

}
.table-wiersz
{
    display:flex;
    align-items: left;
    justify-content: left;
    height: 4.3vw;
}
.naglowek-cell1
{
    width: 8vw;
    background-color:#70593E;
    padding:0.4vw;
    border-radius: 30px 0 0 0;
    
}
.table-cell1
{
    text-overflow: clip;
    width: 8vw;
    background-color:#70593E;
    padding: 1.5vw 0.4vw;
    white-space: nowrap;
    overflow: hidden;
}
.table-cell1-last
{
    text-overflow: clip;
    width: 8vw;
    background-color:#70593E;
    padding: 1vw 0.4vw;
    border-radius: 0 0 30px 30px; 
    white-space: nowrap;
    overflow: hidden;
}
.stopka
{
    background-color: black;
    margin-top: 8% 0;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.stopka p
{
    margin: 0;
    text-align: center;
}


.table-cellOn:hover
{
    transform: scale(0.95);
    background-color: #7ac876;

}
.harmowybor input[type=submit]
{
    background-color: #F09D3D;
    width: 30%;
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 24px;
    font-family: monospace;
    transition: all 0.2s ease-in;
    margin: 20px;
}
.harmowybor input[type=submit]:hover
{
    background-color: rgb(255, 193, 78);
    transform: scale(0.95);
    

}
.harmowybor form
{
    display:inline-block;
}
.harmowybor select
{
    width: 40%;
    height: 65px;
    text-align: center;
    font-family: monospace;
    font-size: 26px;
    border: 1px solid rgb(111, 111, 111);
    color:#EDDEBB;
    background-color: #454545;
    border-radius: 7px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.harmowybor select:hover
{
    background-color: #616161;
}

.zapisz
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
}
.zapisz input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    font-size: 1.6vw;
    width: 100%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.zapisz input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}

.pe
{
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color:#2f2d2a;
    border-radius: 30px;
    width:50%;
    padding: 20px 0;
    border: 4px dashed #171512;
}
.public input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    font-size: 1.6vw;
    width: 40%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.public input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.reg input[type=submit]
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    font-size: 1.6vw;
    width: 40%;
    border-radius: 30px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.reg input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.reg form
{
width:100%;
}
.public form
{
width:100%;
}
.formularz1
{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.formularz1 p
{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}
.formularz1 input
{
    font-size: 24px;
    margin-top: 20px;
    width: 30vw;
    height: 4.4vh;
    margin-left: auto;
    margin-right: auto;

}
.mode i 
{
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}
.mode i:hover
{
    color:white;
}
.mode img
{
    width:50px;
}
.formularz2
{
    width: 100%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.formularz2 p
{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 40px;
    margin-right: auto;
    width: 70%
}
.formularz2 input
{
    font-size: 24px;
    margin-top: 20px;
    width: 1vw;
    height: 7vh;

}
.mode img
{
    width:50px;
    transition: all 0.3s ease-in-out;
}
.mode img:hover
{
    cursor: pointer;
    transform: scale(0.95);
}
.table-cell-alt
{
    padding-top: 1.5%;
    min-width: 4.1vw;
    margin: 0.2vw;
    background-color: #9e8c8e;
    border-radius: 15px;
}
.sort
{
    width: 12%;
    margin: 1%;

}
.bar2
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort input[type=submit]
{
    font-size: 24px;
    width:100%;
    height: 80%;
    font-family: monospace;
    background-color: #F09D3D;
    border: none;
    border-radius: 20px;
    padding: 10px 5%;
    transition: all 0.2s ease-in-out;
}
.sort input[type=submit]:hover
{
    transform:scale(0.95);
    background-color: rgb(255, 193, 78);
    cursor: pointer;
}
.del-ic
{
    position:relative;
    top: -1.8vw;
    left: -3vw;
    background-color: #d82133;
    transition: all 0.2s ease-in-out;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.1vw;
}
.del-ic:hover 
{
    transform: scale(0.90);
    cursor: pointer;
    background-color: #e8515f;
}
.del-ic1
{
    position:relative;
    top: -1.8vw;
    background-color: #d82133;
    transition: all 0.2s ease-in-out;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.1vw;
    left: -58.6vw;
}
.del-ic1:hover 
{
    transform: scale(0.90);
    cursor: pointer;
    background-color: #e8515f;
}
canvas
{
    margin-left:4%;
    margin-top:4%;
}#nakladka{transition:0.2s ease-in-out all;}
#nakladka:hover{transform:scale(1.05);}