body
{
    margin: 0;
    color: #f7eeec;
    background-color: #bc3e27;
    font-family: 'Belanosima', sans-serif;
    font-size: 0.8vw;
}
#header
{
    left: -21.7vw;
    width: 80%;
    padding: 1.5vw 2vw;
    text-align: center;
    background-color: #bc3e27;
    font-size: 3.6vw;
    position: fixed;
    border-bottom: #99311e solid 0.13vw;
    margin-left: 29.8vw;
}
#container
{
    width: 61vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    background-color: #fafafa23;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.7vw;
    padding: 2vw;
    text-align: center;
    min-height: 30vw;
    font-size: 1.8vw;
}
#futer
{
    position: fixed;
    left: 13.8vw;
    background-color: #bc3e27;
    text-align: center;
    padding: 1vw;
    width: 70%;
    border-top: #99311e solid 0.08vw;
}
#clock
{
    width: 20%;
    background-color: #36332c;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2vw;
    border-radius: 0.7vw;
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
.timer
{
    width: 10%;
    background-color: #fff5df;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2vw;
    border-radius: 0.7vw;
    font-size: 2vw;
    color: #2f2727;
    margin-top: 1vw;
    transition: all 0.3s ease-in-out;  
}
.timerActive
{
    width: 10%;
    background-color: #fff5df;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2vw;
    border-radius: 0.7vw;
    font-size: 2vw;
    color: #2f2727;
    margin-top: 1vw;
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}
.timerInactive
{
    width: 10%;
    background-color: #e2e2e2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2vw;
    border-radius: 0.7vw;
    font-size: 2vw;
    color: #2f2727;
    margin-top: 1vw;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}
#displayClocks
{
    margin: 1vw;
    height: 8vw;
    overflow-y: hidden;
}
#scroll
{
    position: relative;
    top: 1.9vw;
    transition: all 0.2s;
}
.button input[type="button"]
{
    background-color: #ead3a0;
    border: none;
    width: 3vw;
    height: 2.5vw;
    border-radius: 2vw;
    transition: all 0.2s ease-in-out;
    font-family: 'Belanosima', sans-serif;
    font-size: 0.8vw;
    padding-bottom: 0.3vw;
}
.button input[type="button"]:hover
{
    background-color: #fff5df;
    transform: scale(0.90);
    cursor: pointer
}
.start
{
    margin-top: 1vw;
}
.start input[type="button"]
{
    background-color: #ead3a0;
    border: none;
    width: fit-content;
    height: fit-content;
    border-radius: 2vw;
    transition: all 0.2s ease-in-out;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.8vw;
    padding: 0.5vw 1vw;
    margin-top: 1.5vw;
}
.start input[type="button"]:hover
{
    background-color: #fff5df;
    transform: scale(0.90);
    cursor: pointer
}#nakladka{transition:0.2s ease-in-out all;}
#nakladka:hover{transform:scale(1.05);}